/*$input-bg:                              $gray-800 !default;
$input-disabled-bg:                     $gray-200 !default;

$input-color:                           $gray-200 !default;
$input-border-color:                    $gray-900 !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-color:                     $input-color !default;

$input-placeholder-color:               $gray-600 !default;

$input-group-addon-color:               $gray-500 !default;
$input-group-addon-bg:                  $gray-900 !default;
$input-group-addon-border-color:        $input-border-color !default;
*/
