<div class="card shadow">
  <h5 class="card-header">Attack</h5>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <form #savingThrowForm="ngForm" class="container-fluid" (ngSubmit)="roll()">
          <div class="form-row mb-3">
            <div class="col">
              <label>Modifier</label>
              <input [ngModelOptions]="{ standalone: true }"  type="number" class="form-control" [(ngModel)]="modifier" (focus)="$event.target.select()" />
            </div>

            <div class="col">
              <label>Total Attacks</label>
              <input [ngModelOptions]="{ standalone: true }"  type="number" class="form-control" [(ngModel)]="quantity" (focus)="$event.target.select()" />
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
              <label>Defender AC</label>
              <input [ngModelOptions]="{ standalone: true }" class="form-control" type="number" [(ngModel)]="armorClass" (focus)="$event.target.select()" />
            </div>

            <div class="col">
              <label>Advantage</label>
              <select [ngModelOptions]="{ standalone: true }" class="form-control" [(ngModel)]="rollType">
                <option [ngValue]="rollTypesConstant.NORMAL">Normal</option>
                <option [ngValue]="rollTypesConstant.ADVANTAGE">Advantage</option>
                <option [ngValue]="rollTypesConstant.DISADVANTAGE">Disadvantage</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <button type="submit" class="btn btn-red-dark btn-block btn-lg">Attack</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-red-dark btn-lg btn-block" (click)="reset()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdop" *ngIf="results">
  <div class="modal modal-centered fade show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Attack Results</h5>
          <button type="button" class="close" (click)="results = null">&times;</button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <table class="table">
                  <thead class="thead">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Normal</th>
                      <th scope="col">Critical</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th scope="row">Hit</th>
                      <td scope="row" [class.text-success]="results.hit.normal > 0">{{ results.hit.normal }}</td>
                      <td scope="row" [class.text-success]="results.hit.critical > 0">{{ results.hit.critical }}</td>
                      <td scope="row" class="font-weight-bold" [class.text-success]="results.hit.total > 0">{{ results.hit.total }}</td>
                    </tr>

                    <tr>
                      <th scope="row">Miss</th>
                      <td scope="row" [class.text-danger]="results.miss.normal > 0">{{ results.miss.normal }}</td>
                      <td scope="row" [class.text-danger]="results.miss.critical > 0">{{ results.miss.critical }}</td>
                      <td scope="row" class="font-weight-bold" [class.text-danger]="results.miss.total > 0">{{ results.miss.total }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>
