// bootstrap colors
$red: rgba(230, 57, 70, 1);
$blue: rgba(69, 123, 157, 1);

// custom variables
$blue-lighter: lighten($blue, 20%);
$blue-light:   lighten($blue, 10%);
$blue-dark:    darken($blue, 10%);
$red-dark:     darken($red, 10%);

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
