<div class="card shadow">
  <h5 class="card-header">Saving Throw</h5>

  <div class="card-body">
    <div class="row mb-2">
      <div class="col">
        <form #savingThrowForm="ngForm" class="container-fluid" (ngSubmit)="perform()">
          <div class="form-row mb-3">
            <div class="col-sm">
              <label>Save DC</label>
              <dm-incremental-input [(number)]="savingThrow" [disabled]="rolling"></dm-incremental-input>
            </div>

            <div class="col-sm">
              <label>Ability</label>
              <select [disabled]="rolling" [class.disabled]="rolling" [ngModelOptions]="{ standalone: true }" class="form-control" [(ngModel)]="ability">
                <option [ngValue]="Ability.Strength">STR</option>
                <option [ngValue]="Ability.Dexterity">DEX</option>
                <option [ngValue]="Ability.Constitution">CON</option>
                <option [ngValue]="Ability.Wisdom">WIS</option>
                <option [ngValue]="Ability.Intelligence">INT</option>
                <option [ngValue]="Ability.Charisma">CHA</option>
              </select>
            </div>
          </div>

          <div class="form-row mb-1 align-items-center" *ngFor="let group of encounter.groups">
            <div class="col-md text-truncate">
              <label class="mb-0">{{ group.creatureType.name }}</label>
            </div>

            <div class="col-sm">
              <dm-incremental-input [(number)]="counts[group.id]" [disabled]="rolling" min="0" max="{{ group.livingCreatures().length }}"></dm-incremental-input>
            </div>

            <div class="col-sm">
              <select [disabled]="rolling" [class.disabled]="rolling" [ngModelOptions]="{ standalone: true }" class="form-control form-control-sm" [(ngModel)]="rollTypes[group.id]">
                <option [ngValue]="RollType.Normal">Normal</option>
                <option [ngValue]="RollType.Advantage">Advantage</option>
                <option [ngValue]="RollType.Disadvantage">Disadvantage</option>
              </select>
            </div>
          </div>

          <div class="form-row mt-3">
            <div class="col">
              <button type="submit" [disabled]="rolling" [class.disabled]="rolling" class="btn btn-blue-dark btn-lg btn-block">Roll</button>
            </div>

            <div class="col">
              <button type="button" [disabled]="rolling" [class.disabled]="rolling" class="btn btn-outline-blue-dark btn-lg btn-block" (click)="reset()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="performed">
    <div class="col">
      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Creature</th>
            <th scope="col">Modifier</th>
            <th scope="col">Succeeded</th>
            <th scope="col">Failed</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let groupId of groupIds()">
            <th scope="row">{{ mappings[groupId].creatureType.name }}</th>
            <td>{{ mappings[groupId].creatureType.modifier(ability) > -1 ? '+' + mappings[groupId].creatureType.modifier(ability) : mappings[groupId].creatureType.modifier(ability) }}</td>
            <td [class.text-success]="results[groupId].succeeded > 0">{{ results[groupId].succeeded > 0 ? results[groupId].succeeded : '-' }}</td>
            <td [class.text-danger]="results[groupId].failed > 0">{{ results[groupId].failed > 0 ? results[groupId].failed : '-' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

