.accordion {
  .card-header {
    cursor: pointer;
  }

  .card {
    background-color: transparent;
  }

  .collapse {
    transition: height 0.2s;
  }

  .collapse:not(.show) {
    max-height: 0px;
  }

  .collapse.show {
    max-height: 5000px;
  }
}
