<div class="card shadow">
  <div class="card-header p-2">
    <div class="row">
      <div class="col pl-4 d-flex align-items-center">
        <h5 class="m-0 p-0">Enemies</h5>
      </div>
    </div>
  </div>

  <div class="accordion">
    <div class="card mb-0" *ngFor="let group of groups()">
      <div class="card-header" (click)="toggleShow(group.creatureType)">
        {{ group.creatureType.name }}

        <span class="text-muted">
          (x{{ group.livingCreatures().length }})
        </span>

        <span class="float-right">
          <i class="fas" [ngClass]="{ 'fa-chevron-down': !show(group.creatureType), 'fa-chevron-up': show(group.creatureType) }"></i>
        </span>
      </div>

      <div class="collapse" [class.show]="show(group.creatureType)">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-1" *ngFor="let enemy of group.livingCreatures()">
              <div class="container-flush">
                <div class="row align-items-center">
                  <div class="col-2">
                    <span>#{{ enemy.id }}</span>
                  </div>
                  <div class="col">
                    <div class="progress" (click)="stuff(enemy, $event)">
                      <div class="progress-bar bg-success" [ngStyle]="{ width: healthbarStyle(enemy) }">
                        {{ enemy.hitpoints }}/{{ enemy.creatureType.hitpoints }}
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <input class="form-control form-control-sm" [(ngModel)]="inputs[group.id][enemy.id]" [ngModelOptions]="{ standalone: true }" (keyup.enter)="adjustHealth(enemy, inputs[group.id][enemy.id]); inputs[group.id][enemy.id] = undefined" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
