<div class="card shadow">
  <div class="card-header p-2">
    <div class="row">
      <div class="col pl-4 d-flex align-items-center">
        <h5 class="m-0 p-0">Enemies</h5>
      </div>
    </div>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let cell of typesOfEnemies()">
        <div class="container-flush list-header" (click)="toggleShow(cell.creatureType)">
          <div class="row d-flex align-items-center justify-content-between">
            <div class="col">
              <i class="fas fa-square text-red"></i>
              {{ cell.creatureType.name }}
            </div>

            <span class="badge badge-primary badge-pill">{{ cell.quantity }}</span>
          </div>
        </div>
        <div class="pt-3" *ngIf="show(cell.creatureType)">
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-1" *ngFor="let status of enemies(cell.creatureType)">
              <div class="container-flush">
                <div class="row">
                  <div class="col-2">
                    <!-- <i class="fas fa-square text-red"></i> -->
                    <span>#{{ status.id }}</span>
                  </div>
                  <div class="col">
                    <div class="progress">
                      <div class="progress-bar bg-success" [ngStyle]="{ width: percentHealth(status) }">
                        {{ status.hitpoints }}/{{ status.creatureType.hitpoints }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
