<div class="card shadow">
  <div class="card-header p-2">
    <div class="row">
      <div class="col pl-4 d-flex align-items-center">
        <h5 class="m-0 p-0">Enemies</h5>
      </div>
    </div>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="container-flush">
          <div class="row">
            <div class="col">
              <i class="fas fa-square text-red"></i>
              Direwolf <span class="text-muted">#3</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="progress">
                <div class="progress-bar bg-success" style="width: 40%;">4/10</div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="container-flush">
          <div class="row">
            <div class="col">
              <i class="fas fa-square text-red"></i>
              Direwolf <span class="text-muted">#5</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="progress">
                <div class="progress-bar bg-success" style="width: 70%;">7/10</div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <i class="fas fa-square text-muted"></i>
        Direwolf <span class="text-muted">#1</span>
      </li>

      <li class="list-group-item">
        <i class="fas fa-square text-muted"></i>
        Direwolf <span class="text-muted">#2</span>
      </li>

      <li class="list-group-item">
        <i class="fas fa-square text-muted"></i>
        Direwolf <span class="text-muted">#4</span>
      </li>
    </ul>
  </div>
</div>
