<h5 class="card-header">Initiative</h5>
<div class="card-body">
  <div class="row">
    <div class="col d-flex align-items-center">
      <span class="font-weight-bold">Round 1</span>
    </div>
    <div class="col">
      <button type="button" class="float-right btn btn-success">New Encounter</button>
    </div>
  </div>

  <ul class="list-group list-group-flush mt-3">
    <li class="list-group-item active">
      <i class="fas fa-circle"></i>
      Clark Larkin
      <div class="float-right">17 (17+0)</div>
    </li>
    <li class="list-group-item">
      <i class="fas fa-square text-red"></i>
      Direwolf <span class="text-muted">(x12)</span>
      <div class="float-right">14 (12+2)</div>
    </li>
    <li class="list-group-item">
      <i class="fas fa-square text-red"></i>
      Werewolf <span class="text-muted">(x3)</span>
      <div class="float-right">12 (10+2)</div>
    </li>
    <li class="list-group-item">
      <i class="fas fa-circle text-blue"></i>
      Tashi Dawa
      <div class="float-right">5 (2+3)</div>
    </li>
  </ul>
  <div class="row mt-3">
    <div class="col">
      <button class="float-right btn btn-success">Next Turn</button>
    </div>
  </div>
</div>
